name: Tests MPI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Instalar dependencias MPI
        run: |
          sudo apt-get update
          sudo apt-get install -y mpich
      - name: Ejecutar pruebas
        run: |
          make test
